#cy {
  width: 900px;
  height: 540px;
  display: block;
  margin: auto;
  float: right;
  border: 1px solid #dedede;
}
#name{
  width: 120px;
  float: left;
  height: 100px;
  padding: 0px;
  margin: 0px;
}
#navbottoni{
  margin: auto;
  padding: 0px;
  float: left;
}
#iframe{
  background: transparent;
  border: 1px solid #dedede;
  float:left;
}
.adder{
  float: left;
  width:100px;
  height: 100px;
  padding: 0px;
  margin: 0px;
  border-style: none;
  font-weight: bold;
  font-size: 15px;
  color:white;
}
.minColors{
  background-color: #0f9d58;
}
.maxColors{
  background-color:#ff6600;
}
#divleva{
  background-color: white;
  float: left;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-top: 33px;
  margin-left: 20px;
}

/* togliere le impostazioni default default*/
.switch input {
  margin: auto;
  opacity: 0;
  width: 0;
  height: 0;
}

/*CSS NECESSARI PER LA LEVA DI SELEZIONE MAX MIN*/

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ff6600;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #0f9d58;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* arrotonadre gli sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
